body
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

#port-info
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100vh;
    background: linear-gradient(0deg, #00186b 0%, #002983 100%);

    .map-item
        flex: 0 0 32.75%;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        margin-top: 0.2%;
        margin-bottom: 0.2%;

        .title
            font-size: 50px;
            font-weight: bold;
            z-index: 2;
            position: absolute;
            top: 0;
            left: 45;
            min-width: 50%;
            background: linear-gradient(0deg, #00186b 0%, #002983 100%);
            padding-left: 1rem;
            color: white;

        iframe 
            width: 100%;
            height: 48.95vh;