.links
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .hyperlink
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        height: 8rem;
        border: 1px solid lightgray;
        font-size: 2rem;
        background: darken(blue, 7);
        text-align: center;
        color: white;
        cursor: pointer;
        
        &.admin
            max-width: 18rem;
            background: #fde396;
            color: black;

            &:hover
                color: lighten(black, 9) !important;

        &:hover
            color: darken(white, 8);