#eurostar-list-item
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
    min-height: 9.5rem;
    width: calc(99% - 2rem);
    border: 1px solid rgb(230, 230, 231);
    border-radius: 8px;

    .train-name
        align-self: flex-end;
        border-top-right-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        padding: 0.125rem
        background: #aeaeae;
        color: white;

        span:first-child
            padding-left: 1rem;
            padding-right: 0.25rem;
            font-size: 0.8rem;            

    .lower-content
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        .divider
            i
                transform: scale(5,2.5);
                color: #7CD3DF;

        .departure-station, .arrival-station
            margin: 2rem;

            .time
                font-size: 1.25rem;
                font-weight: bold;
            
            .station-name
                font-size: 0.75rem;
            
            .status
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                font-size: 0.8rem;

                .icon
                    margin-right: 0.75rem;
                    font-size: 0.5rem;

                    .departed, .arrived
                        color: rgb(119, 201, 100);

                    .route-alert
                        color: rgb(237, 106, 90);

                    .delayed-exact
                        color: rgb(253, 155, 69);
    
    .reason
        padding: 0 1rem 0.5rem 1rem;
        text-align: center;
    
    &.alert
        padding: 0 !important;
        background: rgba(237, 106, 90, 0.2);
        border-color: rgba(237, 106, 90, 1);

        .divider i, .reason
            color: rgba(237, 106, 90, 1);
    
    &.delay
        background: rgba(253, 155, 69, 0.2);
        border-color: rgba(253, 155, 69, 1);

        .divider i, .reason
            color: rgba(253, 155, 69, 1);