body
    margin: 0

#channel-tunnel
    display: flex;
    flex-flow: row nowrap;
    overflow-y: hidden;

#eurotunnel-info
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 50%;
    background-color: #005279;
    background: linear-gradient(49deg,#001120,#005279);

.section-container
    flex: 1
    display: flex;
    flex-flow: row nowrap;
    font-family: Arial, Helvetica, sans-serif;

.lti-section
    // flex: 0 0 25% //calc(25% - 0.5px);
    display: flex;
    flex-flow: column nowrap;
    color: white;
    width: 50%;
    overflow-x: hidden;

    .section-title
        font-size: 2.25rem;
        font-weight: bold;
        background: #ebebeb;
        box-shadow: inset 0 -12px 15px -15px #000;
        color: black;
        padding: 0.75rem;
    
    .section-body
        display: flex;
        flex-flow: column nowrap;
        padding: 0.75rem 1.5rem;
        font-size: 1.75rem;

        .pre-check-in, .transit, .departure
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            // padding-top: 1rem;
            // padding-bottom: 1rem;

            svg
                height: 5rem;

            div
                &:first-child
                    flex: 0 0 75%;
                &:last-child
                    flex: 0 0 25%;
                    // padding: 0 0.5rem;
                    div
                        padding: 2rem;
                        background: #43AFC6;
                        text-align: center;
                        font-weight: bold;
                        font-size: 1.7rem
    
    .footer
        padding: 0.75rem;
        font-size: 1.75rem;

        a
            color: #3cafc2;
            font-weight: bold;
            text-decoration: none;
            outline: 0;

            &:hover
                color: #23527c;
    
    &:first-child
        border-right: 1px solid white

.section-footer
    // background: darken(navy, 9);
    background: transparent;
    padding: 1rem 1rem 2.5rem 1rem;

    .footer-text
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 0 1rem;
        min-height: 20vh;
        border-radius: 5px;
        background: #ebebeb;
        font-size: 2.25rem;

#eurostar-timetable
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
    width: 50%;
    overflow-y: overlay;

    .paris-to-london
        border-right: 1px solid rgb(230, 230, 231);;

    .paris-to-london, .london-to-paris
        min-width: calc(50% - 0.5px);

        .section-title
            margin-top: 1rem;
            text-align: center;
            font-size: 1.6rem;
            font-weight: bold;
        
        .error-text
            margin: 1rem;
            padding: 0.25rem;
            border: 1px solid red;
            border-radius: 0.35rem;
            background: darken(indianred, 9);
            color: white

            i 
                margin: 0 0.5rem;


    .tomorrow-trains-title
        padding: 2rem;
        font-size: 2rem;