body
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

#traffic-info
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 100vh;
    background: #005279;

    .map-item
        flex: 0 0 32.75%;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        margin-top: 0.20%;
        margin-bottom: 0.20%;

        .title
            font-size: 50px;
            font-weight: bold;
            z-index: 2;
            position: absolute;
            top: 2;
            width: 100%;
            background: #00caeb;
            text-align: center;

        iframe 
            width: 100%;
            height: 48.95vh;