$row-height = 10vh;

#journey-item
    flex: 0 0 10%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    overflow-x: hidden;
    position: relative;
    &:not(:first-child)
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

    .grey-pane 
        display: none;
    
    .dock-flag
        height: 3vh;
        width: auto;
        z-index: 3;
        &.flag_uk
            margin-left: 0.5vh;
        &.flag_eu
            margin-right: 0.5vh;

    .origin, .destination
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        // border-radius: $row-height;
        //font-size: (($row-height - 10%) - 2.5vh);
        z-index: 2;
        height: $row-height;
        .port-container
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 3vh;
            width: ($row-height * 3);
            margin-top: -1.5vh;
            background: gray;
            .road-container
                flex: 0 35%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                position: relative;
                height: 100%;
                background: gray;
                .port-delay-timestamp
                    position: absolute;
                    padding: 0 0.25rem;
                    color: white;
                    background: gray;
                    font-size: 1.125vh;
                .road
                    height: 90%;
                    background:
                        repeating-linear-gradient(to right, white 0, white 10px,transparent 10px,transparent 0px) top,
                        repeating-linear-gradient(to right, white 0, white 10px,transparent 10px,transparent 15px) center,
                        repeating-linear-gradient(to right, white 0, white 10px,transparent 10px,transparent 0px) bottom;
                    background-size: 100% 2px;
                    background-repeat: no-repeat;
                    background-color: transparent;
            .green
                background: #34a853 !important;
            .amber-1
                background: #daa520 !important;
            .amber-2
                background: #977316 !important;
            .red-1
                background: #cc0000 !important;
            .red-2
                background: #8b0000 !important;
            .black
                background: black !important;
            .dock-name
                flex: 0 65%
                font-size: 1.5vh;
                color: white;
                text-align: center;

        .lorry-image
            position absolute;
            height: 2.5vh;
            width: auto;
            bottom: 3vh;

    .origin
        margin-right: -22.5vh;
        .lorry-image
            left: 0;

    
    .destination
        margin-left: -22.5vh;
        .port-container
            .road-container
                .port-delay-timestamp
                    right: 0;
        .lorry-image
            right: 0;
    
    .journey
        flex: 1 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
        height: $row-height;
        position: relative;
        // overflow-x: hidden;
        
        .path    
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            position: relative;
            height: 3vh
            width: 100%;
            color: mediumblue
            mix-blend-mode: multiply;
            background-size: 10% 200%;

        .ship-image
            position: absolute;
            bottom: 1.5vh;
            height: ($row-height - 25%);
            width: (($row-height - 25%) * 3);
            transition: 700ms margin;
        
        .ship-name
            position: absolute;
            bottom: 3vh;
            width: (($row-height - 25%) * 3);
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 1.4vh;
            transition: 700ms margin;
        
        .ship-delay-label
            position: absolute;
            bottom: 2.75vh;
            width: (($row-height - 25%) * 3);
            text-align: center;
            transition: 700ms margin;
            color: darken(indianred, 9);
            font-size: 3vh;
            font-weight: bold;
    &.data-error
        .grey-pane
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(169,169,169, 0.5);
            height: 100%;
            width: 100%;
            z-index: 50;
            font-size: 1.25rem;
            position: absolute;