$container-padding = 1.5rem;
$row-height = 6.25vh;

#orientation-warning
    display: none;


#vessel-monitor-view
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100vh; //calc(100vh - $container-padding);
    // padding-top: $container-padding;

    .spin-container
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        .seaview-logo
            width: 65rem;
            height: auto;
        .spinner
            width: 50rem;
            height: 20rem;
    
    .sidebar
        position: absolute;
        top: 0;
        left: -40%;
        display: flex;
        flex-flow: column nowrap;
        height: 100vh;
        width: 40%;
        background: darken(navy, 0.7);
        transition: 1s transform;
        z-index: 100;

        .sidebar-inner-content
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            width: 100%;
            padding: 1rem;
            color: white;
            font-size: 1.5rem;
            overflow-y: auto;

            .seaview-logo
                width: 30rem;
                height: auto;
            
            .support-text
                font-size: 0.85rem;
                margin-top: -0.25;
                margin-bottom: 1rem;

            .inner-content-options
                flex: 1;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            
                .filter-ports-container
                    flex: 0 100%;
                    background: darkblue;
                    padding: 0 0.5%;

                    label:first-child
                        text-decoration: underline;
                    .port-filter-list
                        display: flex;
                        flex-flow: column nowrap;

                        .filter-all-late
                            margin-bottom: 1rem;

                        .port-select-item
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            font-size: 0.9rem;
                            .checkbox
                                height: 1.125rem;
                                width: 1.125rem;
                                margin-right: 1rem;
                        .ports
                            display: flex;
                            flex-flow: row nowrap;

                            .uk-ports
                                flex: 0 0 50%;

                            .eu-ports
                                flex: 0 0 50%;
                                display: flex;
                                flex-flow: column wrap;
                                .port-select-item
                                    padding-left: 1rem;

                .overwrite-container
                    flex: 0 0 33%;
                    background: darkblue;
                    padding: 0 0.5%;

                    label:first-child
                        text-decoration: underline;
                        margin-bottom: 0;
                        
                    .input
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: 0.85rem;
                        padding-right: 2rem;
                        margin-bottom: 2px;
                        .toggle-container
                            flex: 0 0 12%
                            .toggle
                                margin-left: 0.5rem;
                                height: 1.75rem !important;
                                .toggle-group
                                    .btn
                                        line-height: 1rem;
                        .route-name
                            flex: 0 70%;
                        .input-container
                            flex: 0 0 20%
                            display: flex;
                            .text
                                width: 3rem;
                                margin-right: 0.5rem;
                                line-height: 0.5rem;
                                height: 1.75rem;

                
                .offset-container
                    flex: 0 0 33%;
                    background: darkblue;
                    padding: 0 0.5%;

                    label:first-child
                        text-decoration: underline;
                        margin-bottom: 0;

                    .input
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: 0.85rem;
                        padding-right: 2rem;
                        margin-bottom: 2px;
                        .toggle-container
                            flex: 0 0 12%
                            .toggle
                                margin-left: 0.5rem;
                                height: 1.75rem !important;
                                .toggle-group
                                    .btn
                                        line-height: 1rem;
                        .route-name
                            flex: 0 70%;
                        .input-container
                            flex: 0 0 20%
                            display: flex;
                            .text
                                width: 3rem;
                                margin-right: 0.5rem;
                                line-height: 0.5rem;
                                height: 1.75rem;
                
                .settings-warning
                    font-size: 0.75rem;
                    color: yellow;
                    margin-bottom: 1.5rem;
                    line-height: 1rem;
            
            .controls
                flex: 0 0 3%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                width: 100%;
                height: 2rem;
                button 
                    border-radius: 7.5%;
                    font-size: 1.5rem;
                    font-weight: bold;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    line-height: 1rem;
                    height: 2.5rem;
                    width: 5rem;


        .handle
            position: absolute;
            top: 50%;
            left: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 15px;
            background: #d9d9d9;
            border-top-right-radius: 7.5px;
            border-bottom-right-radius: 7.5px;

            i 
                color: darken(navy, 0.7);
                transition: 1s;

        &.open
            height: 100vh;
            transition: 1s transform;
            transform: translateX(100%);
            .handle > i 
                transition: 1s;
                transform: rotate(180deg);

    .data-container
        flex: 0 0 30%;
        display: none;
        flex-flow: column nowrap;
        align-items: center;
        // padding-top: $container-padding;

        .table-container
            width: 95%;
            font-size: 1.4vh;
            .header, .row-item
                display: flex;
                flex-flow: row nowrap;
                height: $row-height;
                width: 100%;

                .ship-name
                    width: 25%;
                .ship-destination
                    width: 25%;
                .ship-next-port-name
                    width: 15%
                .ship-id
                    width: 17.5%;

                &>div
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    padding: 0.5rem;
                    word-break: break-word;
                    white-space: normal;
                    overflow: hidden;

                    &:not(:last-child)
                        border-right: 1px solid;

            .header
                font-weight: bold;
                border: 1px solid;
                justify-content: center;
                text-align: center !important;
            
            .row-item
                border-left: 1px solid;
                border-right: 1px solid;
                border-bottom: 1px solid;

    
    .visual-container
        flex: 0 0 100%;
        // padding-top: $container-padding;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        overflow-x: hidden;
        height: 100%;

        .journey-container
            // padding-top: $row-height;
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            width: 100%;
            overflow-y: overlay;

            .journey-header
                display: flex;
                flex-flow: row nowrap;
                align-items: center;            
                height: $row-height;
                border-top: 1px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;

                .port
                    font-size: 2rem;
                
                .route
                    flex: 1;

@media (orientation: portrait) {
    #orientation-warning {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .inner-content {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            height: 90%;
            width: 90%;
            background: lighten(lightgray, 0.5);
            border: 1px solid lighten(gray, 0.5);
            text-align: center;
        }
    }

    #vessel-monitor-view {
        display: none;
    }
}