#alerts-traffic-weather
    display: flex;
    flex-flow: row nowrap;

    #alerts
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        height: 100vh;
        width: 50%;
        overflow-y: overlay;
    
        .title
            padding: 1.5rem;
            font-size: 5rem;
            text-align: center;

        .header-row, .alert-row
            display: flex;
            flex-flow: row nowrap;
            width: 95%

            #row-heading, #row-item
                padding: 0.5rem;

            .road-name
                width: 5%;

            .alert-type
                width: 10%

            .alert-severity
                width: 7.5%

            .alert-description
                align-self: flex-start;
                display: flex;
                flex-flow: column wrap;
                width: 77.5%;

        .header-row
            border: 1px solid #dddddd;

            #row-heading
                font-weight: bold;
                &:not(:first-child)
                    border-left: 1px solid #dddddd;
                &:not(.alert-description)
                    text-align: center;

        .alert-row
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
            
            #row-item
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
            
                &:not(:first-child)
                    border-left: 1px solid #dddddd;
        
            .alert-type
                .icon
                    width: 30px;
                    height: 22px;
                    background-repeat: no-repeat !important

            .alert-severity
                &.severe
                    color: red;

                &.moderate
                    color: orange;

                &.minor
                    color: green;
            
            .alert-description
                span, .lanes 
                    width: 100%;
                
                span
                    margin-bottom: 0.25rem;
                
                .lanes
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;

                    .lane-item
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        padding: 0 0.5rem;

                        div
                            text-align: center;
                    
                        img
                            height: 2.5rem;
                            width: 2.5rem;
                                
                        &.hs
                            padding-left: 0;

                            img
                                align-self: flex-end;

            &:nth-child(odd)
                background: #f9f9f9

    #long-range-weather
        max-width: 50%;
        padding: 1.5rem;
        
        .title
            font-size: 5rem;
            text-align: center;

        #weather-content
            font-family: FSEmeric, sans-serif;
            font-size: 1.75rem;

        #iframe
            height: 1px;
            width: 1px;
            visibility: hidden;