#login-view
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    .login-form
        height: 40vh;
        width: 20vw;
        min-height: 400px;
        min-width: 300px;
        max-height: 600px;
        max-width: 500px;
        padding: 0.5rem 1rem;
        background: navy;

        .username-input, .password-input
            width: 100%;
            margin: 1rem 0;
            .label
                width: 100%;
                padding: 0.25rem 0;
                color: white;
                font-size: 1.25rem;
            .text
                width: 100%;
                font-size: 1.5rem;
        
        .submit-button
            margin: 1rem 0;
            padding: 0.35rem 0.5rem;;
            font-size: 1.25rem;
            cursor: pointer;
        
        .error-text
            white-space: pre-line;
            color: orange;