#spinner-component
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    i 
        margin-bottom: 1rem;
        font-size: 7.5rem !important;
    
    .text
        font-size: 1.5rem;

    //     &:after {
    //         overflow: hidden;
    //         display: inline-block;
    //         vertical-align: bottom;
    //         -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    //         animation: ellipsis steps(4,end) 1200ms infinite;
    //         content: "\2026"; /* ascii code for the ellipsis character */
    //         width: 0px;
    //     }

    // @keyframes ellipsis {
    //     to {
    //         width: 1.25em;    
    //     }
    // }

    // @-webkit-keyframes ellipsis {
    //     to {
    //         width: 1.25em;    
    //     }
    // }